.middle h2 {
	padding: 0 42px;
	text-align: center;
}
.middle p {
	padding: 0.2rem;
	font-size: 14px;
	text-align: center;
}

.logo {
	padding: 67px 0 0 0;
	height: 67px;
}

.container {
   height: 844px; /* 뷰포트 높이의 100%를 최소 높이로 설정 */
    background-color: #FFFFFF;
    max-width: 390px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../public/img/start/first_screen.svg');
    background-size: contain;
    background-position: center;
}

.wrap__all{
	background-color: #F2F2F2;
}
.start__button {
	margin-top: 441px;
	margin-bottom: 1rem;
	width: 354px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	background-color: #3E3E3E;
	color: #fff;
}

.start__button:active {
	color: #fff;
	background-color: #f54269;
	transform: scale(0.95);
	transition: 10ms;
	border: none;
}


.icon {
	margin-left: 6px;
}

.top {

}

.middle {

}

.copy__button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.header {
	
	font-family: 'AppleSDGothicNeo';
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
}

.button__wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.first{
	font-size: 14px;
}

.second{
	font-size: 18px;
}

.shareBox {
	margin: 1rem 0 1rem 0;
	display: flex;
	justify-content: center;
}
.result__share{
	color: black;
	font-family: 'appleSDGothicNeo';
	font-size: bold;
	font-size: 18px;
	text-align: center;
}