html {
	color: rgba(110, 110, 110, 1);
}
a {
	text-decoration: none;
}
strong {
	font-weight: bold;
}

.header {
	display: flex;
}
.header a {
	margin: 0 auto;
	font-size: 3rem;
	align-items: center;
	color: #ed6174;
}

.container {
	width: 90vw;
	background-color: #FFFFFF;
	max-width: 500px;
	margin: 0 auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__img {
	margin: 1rem 0 1rem 0;
	width: 100%;
	height: 50vh;
	border-radius: 20px;
}

.result__city {
	/* 맥북프로 */
	margin: 1rem;
	text-align: center;
	font-family: 'Jalnan2TTF';
	font-size: 28px;
}
.result__share{
	font-family: 'Jalnan2TTF';
	font-size: 18px;
	text-align: center;
}

.result__device_detail{
	text-align: center;
	color: #4e4e4e;
	font-family: 'Jalnan2TTF';
	font-size: 18px;
}

.result__type {
	padding: 0.6rem;
	font-size: 1.1rem;
	font-weight: bold;
	text-align: center;
	color: #4e4e4e;
}
.result__title h2 {
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 0.6rem;
}

/* Tag.module.css */
.tag {
	width: 119px;
	height: 36px;
	border-radius: 400px; /* 높은 값을 주어 완전한 둥근 모서리를 만듭니다 */
	background-color: #007BFF; /* 태그의 배경색 */
	color: white; /* 글씨 색상 */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
}
.tagsContainer {
	display: flex; /* Flexbox 레이아웃을 적용 */
	gap: 10px; /* 태그 사이의 간격을 설정 (선택적) */
	/* 속안의 아이템을 가운데로 정렬함 */
	justify-content: center;
}
.result__list__box{
	position: relative;
	width: "100%";
	max-width: 500px;
	background-color: #F2F2F2;
	border-radius: 12px;
	margin: 14px 0 0 0;
}

.wrap__all{
	background-color: #F2F2F2;
}
.result__style__wrapper {
	list-style: disc;
	margin: 20px 0;
}
.result__style__detail {

	padding: 0.5rem;
	list-style-position: inside;
    text-indent: -1.3em; /* 불릿이 위치한 첫 줄을 왼쪽으로 당겨서 불릿과 텍스트 사이의 간격 조정 */
    margin-left: 2em; 
	font-family: 'AppleSDGothicNeo';
	font-weight: 'bold';
	font-size: 16;
	color: #4A4A4A;
	
}

.result__advice__box {
	display: flex;
	flex-direction: row;
	gap: 24px;
	justify-content: center;
	margin-top: 48px;
	padding: 0 24px;


	
}
.result__advice {
	display: flex;
	margin: 1.2rem 0 1.2rem 0;
	flex-direction: column;
	align-items: center;
}

.result__advice img {
	margin-right: 12px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
}

.result__advice h4 {
	text-align: center;
	font-weight: bold;
	color: #4e4e4e;
	font-family: 'Jalnan2TTF';
	font-size: 18px;
	padding: 0 0 14px 0;

}
.result__advice p {
	margin: 1rem 0 1rem 0;
	font-size: 14px;
	text-align: center;
	font-family: 'AppleSDGothicNeo';
	font-size: 16px;
	font-weight: bold;

}

.button__box {
	margin: 0 auto;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button__box button {
	margin: 0.4rem 0 0.4rem 0;
	padding: 0.6rem;
	background-color: #ed6174;
	color: #e8e7e6;
	border: none;
	border-radius: 6px;
	text-align: center;
}
.button__box a {
	margin: 0.3rem 0 0.3rem 0;
	padding: 0.6rem;
	background-color: #ed6174;
	color: #e8e7e6;
	border: none;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
}

.copy__button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.button:active {
	color: #fff;
	background-color: #f54269;
	transform: scale(0.95);
	transition: 100ms;
	border: none;
}
.icon {
	font-size: 1rem;
	margin-left: 6px;
}

.shareBox {
	margin: 1rem 0 1rem 0;
	display: flex;
	justify-content: center;
}

.locked::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 10%; /* 상단 50%는 투명 */
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); /* 그라데이션 효과 */
    pointer-events: none; /* 클릭 이벤트 무시 */
}
.start__button {
	margin-bottom: 1rem;
	width: 354px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	background-color: #3E3E3E;
	color: #fff;
    margin: 90px 18px;
	position: absolute;
    top: 20%; /* 부모 컨테이너의 가운데에 위치 */
    left: 50%; /* 부모 컨테이너의 가운데에 위치 */
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬을 위해 */
    z-index: 2; /* 내용 위에 버튼이 오도록 */
    /* 버튼 스타일링 추가 */
}

.button__wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.second{
    color: white;
	font-family: 'appleSDGothicNeo';
	font-size: bold;
	font-size: 18px;
	text-align: center;

}